---
title: Cloud Service Broker
owner: Partners
---

<strong><%= modified_date %></strong>

**If this product is in beta, keep and edit the warning note below.**
<p class="note warning">
<strong>Warning: </strong>
The Cloud Service Broker for VMware Tanzu tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a VMware Tanzu production environment.
</p>

**This topic begins with a brief description of what the product tile (e.g. Cloud Service Broker for VMware Tanzu) does,
whereas the Overview section below describes what the service itself (e.g. Apigee Edge) does. See below for an example.**


**Note**: This description appears under **OVERVIEW** in the tile's listing on
[Pivotal Network](http://network.pivotal.io).

## <a id='overview'></a>Overview

**The overview describes the service that your product offers to VMware Tanzu developers.
Make sure to overview the features of the integration.
Don't focus only on the overview of your product that is being integrated.
See below for an example.**

This documentation describes the Cloud Service Broker for VMware Tanzu. The Cloud Service Broker for VMware Tanzu enables platform operators to easily expose services to their developers from any public cloud with a Terraform provider. Cloud Service Broker is thoroughly extensible, and can expose new services or public clouds through the use of custom Brokerpaks.



**Note**: This overview appears under **OVERVIEW**, combined with the description above in the tile's listing on
[Pivotal Network](http://network.pivotal.io).

## <a id='features'></a>Key Features

**Note**: This feature list appears under **FEATURES** in the tile's listing on
[Pivotal Network](http://network.pivotal.io).
Make sure you list the key features of the tile (the integration).
We cannot accept a list of the key features of your product that we are integrating.

Cloud Service Broker includes the following key features:

- **Easily extensible and maintainable** Cloud Service Broker uses [Brokerpak](https://github.com/pivotal/cloud-service-broker/blob/master/docs/brokerpak-intro.md) to expose services. As long as your target public cloud has a [Terraform provider](https://www.terraform.io/docs/providers/index.html), services can be provisioned via a common interface using standard cf CLI commands.
- **One common broker for all brokered services.** Cloud Service Broker decouples the service broker functionality from the catalog of services that it exposes.
- **Credhub integration out-of-the-box** CredHub encrypts and manages all the secrets associated with your usage of cloud services.
- **Community** When you expose a service via a [Brokerpak](https://github.com/pivotal/cloud-service-broker/blob/master/docs/brokerpak-intro.md), you can make it available to everyone who uses CSB and vice versa.
- **Easy to migrate** Migrate existing services using [TF Import](https://www.terraform.io/docs/import/index.html)




## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Cloud Service Broker.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v.0.7.0-beta</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 1, 2020</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>YOUR-SOFTWARE-COMPONENT-VERSION-NUMBER</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.7+</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>2.7</td>
    </tr>
        <tr>
        <td>Compatible Pivotal Application Service for Windows version(s)</td>
        <td>2.7</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>N/A</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

**Provide any general or specific requirements, prerequisites, or dependencies here.
A general requirement might be something like, "An AppDynamics account."
A specific requirement might be something like, "Packaging Dependencies for Offline Buildpacks."**

Cloud Service Broker has the following requirements:

+ Access to the console on either AWS, Azure, or GCP

+ PAS is installed on your platform of choice

## <a id="limitations"></a>Limitations

+ Currently, the broker can only be extended to additional IaaS or services by pulling the broker from Github. Custom brokerpaks are not supported by the tiles at this time.

+ Currently, the broker does not support cross-IaaS provisioning of service insrances

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue, please open an issue on our Github Repo: https://github.com/pivotal/cloud-service-broker or ask it in the channel #cloud-service-broker-beta on the Cloud Foundry Slack (https://slack.cloudfoundry.org/)

## <a id='license'></a>License

**List any license information here.**
