---
title: Installing and Configuring Cloud Service Broker on Azure
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure Cloud Service Broker on Azure.

#<a id='install'></a> Install and Configure Cloud Service Broker on Azure

### Installing Cloud Service Broker on Azure tile
This section describes how to install the Cloud Service Broker using Ops Manager Installation Dashboard.

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/cloud-service-broker/). Azure services are provided in the "Azure" release, demarcated as `[Version No.]-azure` (i.e. `v1.0.0-azure`)

2. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

3. Under **Import a Product**, click **+** next to the version number of Cloud Service Broker in the left sidebar. (This adds the tile to your staging area)

4. Click the newly added **Cloud Service Broker for Azure** tile.

### Configuring the Cloud Service Broker on Azure tile

**Configure AZs and networks**
This section describes how to choose an AZ to run the service broker for Cloud Service Broker. It also describes how to select networks for Cloud Service Broker.

    1. Click "Assign AZs and Networks"

    2. Configure the fields as follows:
    ```
    | Field |	Instructions |
    |-------|----------------|
    | Place singleton jobs in  | Select the AZ in which the Cloud Service Broker broker VM runs. The broker runs as a singleton job. |
    | Balance other jobs in | Select the AZ's in which other jobs may run |
    | Network |	Select a subnet for the Cloud Service Broker broker. This is typically the same subnet that includes the PAS or Elastic Runtime component VMs. |
    ```
    3. Click Save.

**Configure Azure Credentials**
This section describes how to configure the Azure credentials Cloud Service Broker requires to manage service instances.

To configure Azure credentials:

    1. Click "Azure Config"

    2. Configure the fields as follows:

    ```
    | Field | Instructions |
    |-------|--------------|
    | Subscription Id | Azure subscription id |
    | Tenant Id | Azure tenant id |
    | Client Id | Azure client id |
    | Client Secret | Azure client secret |
    | Default Resource Group | Default resource group for Azure resources |
    | Location | Default Azure location for resources |
    | Disable Automatic Service Registration | Select to disable automatic service registration |
    ```

    3. Hit Save

**Configure State DB**
This section describes how to associate Cloud Service Broker with a structured database (ex: SQL) which the broker requires in order to store its state.

    1. Click on "Service Broker Config"

    2. Enter the credentials for the database you will use to store the state of the Cloud Service Broker

    3. Hit Save

    4. Return to the Ops Manager Installation Dashboard and click **Apply changes** to install Cloud Service Broker tile.

**If needed, include additional configuration information below. For example, maybe there are
configuration options not required for installation but which could be useful for certain users. Typical topics include:**
1. **Self-service**--Do you have recommendations on how to configure/design plans in the tile so that users can choose the best options for themselves?
1. **High availability**--How do you configure/deploy X Service tile to be highly available?

**Configuring Services with Cloud Service Broker**
This section describes how to configure services and service plans offered by the Cloud Service Broker within the Cloud Foundry Marketplace on your instance of Cloud Foundry.

  1. Click on the already-installed CLoud Service Broker for Azure tile in your Ops Manager Tile Dashboard

  2. Find the service you want to make available in the left hand navigation under the "Settings" tab

  NOTE: Cloud Service Broker specifies new service plans via JSON. An example has been provided (using the smallest possible size) within each service.
  3.  Enter additional plans as additional JSON objects within the provided textbox

  4. Save

  5. Apply changes

  6. Check your Cloud Foundry Marketplace to see the new plan sizes
