---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_short %>.

##<a id="1-2-0"></a> v1.2.0

**Release Date:** MMM DD, YYYY

### Features
New features and changes in this release:

* **RUN-IN HEADING:** DESCRIPTION

### Resolved Issues
This release has the following fixes:

* **RUN-IN HEADING:** DESCRIPTION

### Known Issues
This release has the following issues:

* **RUN-IN HEADING:** DESCRIPTION


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
