---
title: Release Notes for YOUR-PRODUCT-NAME
owner: Partners
---

<strong><%= modified_date %></strong>

**This topic should include the Release Notes for your product. For examples, see the
[GCP Service Broker Release Notes](http://docs.pivotal.io/gcp-sb/release-notes.html) or the
[ISS Knowtify Search Analytics Release Notes](http://docs.pivotal.io/knowtify/release.html).
When you release a new version, add new release notes to this file, keeping the older notes below.**

These are release notes for Cloud Service Broker on Azure.

##<a id="ver"></a> v1.0.0 (Ex. v1.0.1)

**Release Date:** September 30, 2020

Features included in this release:

* Azure tile initial release


##<a id="ver"></a> vPREVIOUS-VERSION-NUMBER (Ex. v1.0.0)
