---
title: Release Notes for Cloud Service Broker for Azure
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_short %>.

##<a id="1-1-7"></a> v1.1.7
**Release Date:** January 4, 2021

### New Features

There are no new Features in this release. 

### Resolved Issues

[BUG FIX] Fixed a bug which caused Azure SQL bind/unbind operations to fail for existing instances after the SQL admin password was changed. See Github Issue [#158](https://github.com/cloudfoundry-incubator/cloud-service-broker/issues/158)

### Known Issues

##<a id="1-1-6"></a> v1.1.6

**Release Date:** December 16, 2020

### New Features

New features and changes in this release:

* **Azure Virtual Network (VNet) integration:** Added for Azure Redis Cache premium plans.

### Resolved Issues

This release has the following fixes:

* **Admin username and password for a AzureSQL Failover Group database no longer exposed:**
`create service-key` and `bind-service` on the non-primary site of a AzureSQL
Failover Group database no longer exposes the admin username and password.

* **Credentials are no longer output in plain text in application console logs.**

* **Execute permissions no longer denied:** Execute permissions previously denied on
stored procedures after Azure SQL subsume are now permissible.

### Known Issues

There are no known issues for this release.


##<a id="1-1-1"></a> v1.1.1

**Release Date:** November 20, 2020

<p class="note breaking"><strong>Breaking Change:</strong>
Subsume is no longer provided as a separate service in the Cloud Foundry marketplace.
It is now a plan that is currently only available for the MSSQL Database service.
</p>

### Features
New features and changes in this release:

* **Support for Azure MySQL Threat Detection Policy:**
For more information about Advanced Threat Protection for Azure Database for MySQL, see the
[Microsoft documentation](https://docs.microsoft.com/en-us/azure/mysql/howto-database-threat-protection-portal).
* **Added subsume functionality for Azure MySQL failover group (FoG) instances:**
For information about subsuming Azure MySQL FoG instances, see
[Subsuming a Microsoft Azure Service Broker MSSQL Database Fail Over Group Instance](https://github.com/pivotal/cloud-service-broker/blob/master/docs/subsume-masb-mssql-db-fog.md)
in GitHub.

### Resolved Issues
This release has the following fixes:

* **Data loss when updating services:** Any parameters provided to `cf create-service` are now preserved
 and used as defaults during `cf update-service`.

##<a id="1-1-0"></a> v1.1.0

**Release Date:** November 5, 2020

<p class="note breaking"><strong>Breaking Change:</strong>
Subsume is no longer provided as a separate service in the Cloud Foundry marketplace.
It is now a plan that is currently only available for the MSSQL Database service.
</p>

### Features
New features and changes in this release:

* **Provides a cleaner pattern for subsuming existing MSSQL DB instances from the Microsoft Azure Service Broker:**
For more information, see [Subsuming a Microsoft Azure Service Broker MSSQL Database Instance](./azure-mssql-subsume.html).
* **Adds support for Azure SQL Short Term Retention Period:**
For more information about the original issue, see
[Issue #100 - Control backup retention period for Azure SQL DB](https://github.com/pivotal/cloud-service-broker/issues/100) in GitHub.
* **Error messaging:** Adds clearer error messaging to the subsume functionality.

### Resolved Issues
This release has the following fixes:

* **Azure Storage can now be configured in the tile:**
Previously, there was an issue where Azure Storage configuration was not shown in the tile.
* **Labeling:** Fixed incorrect labeling in Azure Redis Config.

### Known Issues
This release has the following issues:

* **Data loss when updating services:**
Any parameters provided in the `cf create-service` command must also be provided
in the `cf update-service` command.
Otherwise, the broker substitutes default values for those parameters.<br>
For example, if you provided the parameter `db_name` when the service was created,
omitting this parameter from the update service command would result in data loss.


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
