---
title: Release Notes for Cloud Service Broker
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_short %>.

## <a id="1-0-1"></a> v1.0.1-azure

**Release Date:** October 19, 2020

New features in this release:

- Support for the Azure SQL short term retention period.

## <a id="1-0-0"></a> v1.0.0-azure

**Release Date:** October 9, 2020

New features in this release:

* **Initial release:** Initial release for the <%= vars.product_short %> on the Azure tile.
