---
title: Release Notes for Cloud Service Broker
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_short %>.

##<a id="1-1-0"></a> v1.1.x

**Release Date:** MONTH DAY, 2020

New features in this release:

* Initial release for the <%= vars.product_short %> on Azure tile.
