---
title: Release Notes for Cloud Service Broker
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_short %>.

##<a id="1-1-0"></a> v1.1.0

**Release Date:** November 5, 2020

<p class="note breaking"><strong>Breaking Change:</strong>
Subsume is no longer provided as a separate service in the Cloud Foundry marketplace.
It is now a plan that is currently only available for the MSSQL Database service.
</p>

### Features
New features and changes in this release:

* **Provides a cleaner pattern for subsuming existing MSSQL DB instances from the Microsoft Azure Service Broker:**
For more information, see [Subsuming a Microsoft Azure Service Broker MSSQL Database Instance](./azure-mssql-subsume.html).
* **Adds support for Azure SQL Short Term Retention Period:**
For more information about the original issue, see
[Issue #100 - Control backup retention period for Azure SQL DB](https://github.com/pivotal/cloud-service-broker/issues/100) in GitHub.
* **Error messaging:** Adds clearer error messaging to the subsume functionality.

### Resolved Issues
This release has the following fixes:

* **Azure Storage can now be configured in the tile:**
Previously, there was an issue where Azure Storage configuration was not shown in the tile.
* **Labeling:** Fixed incorrect labeling in Azure Redis Config.

### Known Issues
This release has the following issues:

* **Data Loss when updating services:**
Any parameters provided in the `cf create-service` command must also be provided
in the `cf update-service` command.
Otherwise, the broker substitutes default values for those parameters.<br>
For example, if you provided the parameter `db_name` when the service was created,
omitting this parameter from the update service command would result in data loss.


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
